.cookies-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--light-gray);
    text-align: center;
    padding: 20px;
    z-index: 9999;
}

.cookies-content {
    max-width: 600px;
    margin: 0 auto;
}

.cookies-content p {
    margin-bottom: 15px;
    font-size: 16px;
}

.cookies-content button {
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cookies-content button:hover {
    background-color: var(--orange);
}
