:root{
    /* Cores */
    --light-red: #910142;
    --dark-red: #390220;
    --standart-red: #6c043c;
    --green-blue: #0ec0c1;
    --dark-green-blue: #198a8b;
    --light-gray: #ececec;
    --orange: #ff6542;
    --black: #000000;
    --green-victory: #159a7a;
    --red-defeat: #972d3a;

    /* Fontes */
    --h1: 70px;
    --h2: 50px;
    --h3: 25px;
    --icon: 35px;
    --p: 20px;
    --font-family: "Lexend Deca", sans-serif;

    /* Tamanhos */
    --card-size: 14vh;
    --icon-size: 55px;
    --back-icon: 40px;
}

/* *{
    margin: 0;
    padding: 0;
} */

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: var(--font-family);
}

.background-div{
    background-color: var(--light-gray);
    border-radius: 20px;
}

.form-items-orange{
    background-color: var(--orange);
    border: 2px solid var(--orange);
    color: var(--light-gray);
    font-family: var(--font-family);
}

.form-items-gray{
    background-color: var(--light-gray);
    border: 2px solid var(--orange);
    color: var(--orange);
    font-family: var(--font-family);
}

.form-items-green{
    background-color: none;
    border: 2px solid var(--green-blue);
    color: var(--green-blue);
    font-family: var(--font-family);
}

.botao-voltar {
    position: absolute;
    top: var(--back-icon);
    left: var(--back-icon);
}

.botao-voltar a{
    color: var(--light-gray);
}

.botao-voltar a:hover{
    color: var(--green-blue);
    
}

.botao-voltar a .material-symbols-outlined{
    font-size: var(--icon);
}

.partida-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;          
  align-items: center; 
  padding-top: 2vh;
  width: 8%;
  z-index: 10;
}

.partida-buttons a {
  display: inline-flex;
  border: 2px solid var(--orange);
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform .12s ease, background-color .12s ease, border-color .12s ease;
  background: transparent;
  border: 2px solid var(--orange);
}

.partida-buttons .material-symbols-outlined {
  font-size: var(--icon);
  line-height: 1;
  color: var(--light-gray);
  display: inline-block;
}

.partida-buttons a:hover {
  transform: translateY(-3px);
  border: 2px solid var(--green-blue);
}

.buttons-absolute{
  position: absolute;
  top: 0;
  right: 0;
}

.partida-buttons a img {
    width: 45px;
}