.index-body{
    display: flex;
    background: linear-gradient(to bottom, var(--light-red), var(--dark-red));
    background-image: url('../img/background_index.png') !important;
    background-repeat: round;
}

#index-login{
    width: 50%;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

#index-login h1{
    font-size: var(--h1);
    font-weight: bold;
    color: var(--green-blue);
    margin-bottom: 0;
}

#index-login h3{
    font-size: var(--h3);
    font-weight: bold;
    color: var(--light-gray);
    margin-bottom: 60px;
    margin-top: 0;
}

.index-logo{
    width: 50%;
    display: grid;
    place-items: center;
}

.index-logo img{
    width: 80%;
}

.standart-form-div {
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    padding: 45px;
    border-radius: 20px;
}

.standart-form{
    display: contents !important;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-box .material-symbols-outlined {
    position: absolute;
    color: var(--green-blue);
    pointer-events: none;
    font-size: 20px;
}

.input-box-login .material-symbols-outlined {
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
}

.standart-form-items {
    border-radius: 30px;
    height: 45px;
    color: var(--black);
    padding-left: 40px;
    box-sizing: border-box;
}

.form-items-login {
    width: 100%;
    max-width: 380px;   
}

.standart-form-items:focus{
    border-color: var(--green-blue) !important;
    outline: none;
}

.standart-form-items::placeholder{
    font-size: 15px;
    padding: 0;
}

.standart-btn-position{
    justify-content: center;
    display: flex;
}

.standart-form-buttons{
    border-radius: 30px;
    width: 200px;
    height: 45px;
    margin: 0 9%;
    text-decoration: none;
    line-height: 45px;
    text-align: center;
}

.hover-border:hover{
    background-color: var(--light-gray);
    border: 2px solid var(--green-blue);
    color: var(--green-blue);
}

.hover-background:hover{
    background-color: var(--green-blue);
    border: 2px solid var(--green-blue);
    color: var(--light-gray);
}

@media (max-width: 600px) {
  .standart-form-items {
    width: 90%;
  }
}

.checkbox-label input[type="checkbox"] {
    display: none;
}

.checkbox-label{
    font-size: 1.5vh;
}

.checkbox-label .checkmark {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid var(--orange);
    border-radius: 4px;
    margin-bottom: 2px;
    vertical-align: middle;
    position: relative;
    transition: all 0.2s ease;
}
  
.checkbox-label input[type="checkbox"]:checked + .checkmark {
    background-color: var(--green-blue); /* laranja */
    border-color: var(--green-blue);
}
  
.checkbox-label input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 3px;
    top: -2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
  