#partida{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
}

.partida-info {
  width: 20%;
  padding-left: 100px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.relogio h2  {
    width: 52%;
    background-color: var(--orange);
    color: var(--light-gray);
    font-size: 50px;
    text-align: center;
    min-width: 143px;
    border-radius: 70px;
}

.botao-trapaca {
    margin-top: auto;
    display: flex;
    text-align: center ;
    margin-bottom: 5vh;
}

.botao-trapaca a {
    background-color: transparent !important;
    width: 190px !important;
    margin: 0;
}

.partida-info h1{
    font-size: var(--h2);
    font-weight: bold;
    color: var(--green-blue);
    margin-bottom: 0;
}

.partida-info p{
    font-size: var(--p);
    color: var(--light-gray);
    margin-bottom: 0;
}

.partida-jogo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabuleiro {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.carta {
  background-color: var(--dark-green-blue);
  border: 2px solid var(--green-blue);
  border-radius: 10px;
  cursor: pointer;
}

.size-6{
  width: var(--card-size);
  height: var(--card-size);
}