.perfil-body{
    display: flex;
    background: linear-gradient(to bottom, var(--light-red), var(--dark-red));
    background-image: url('../img/background_index.png') !important;
    background-repeat: round;
}

.div-perfil-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#perfil-table {
    display: flex;
    width: 100%;
}

.div-pagina {
    display: flex;
    gap: 20px;
}

.div-info-perfil {
    flex-basis: 35%;
    background-color: var(--light-gray);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.div-tabela {
    flex-basis: 65%;
    background-color: var(--light-gray);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-perfil {
    width: 100%;
    border-spacing: 0 10px; /* Adiciona 10px de espaçamento entre as linhas */
    background-color: var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.table-perfil th,
.table-perfil td {
    border: none;
    padding: 15px 10px;
    text-align: center;
    background-color: var(--orange);
    color: var(--light-gray);
}