.perfil-body{
    display: flex;
    background: linear-gradient(to bottom, var(--light-red), var(--dark-red));
    background-image: url('../img/background_index.png') !important;
    background-repeat: round;
}

.div-perfil-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#perfil-table {
    display: flex;
    width: 100%;
}

.div-pagina {
    width: 96%;
    display: flex;
    gap: 20px;
}

.div-pagina h2 {
    font-size: 45px;
    font-weight: bold;
    color: var(--green-blue);
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 10px;
}

.div-info-perfil {
    width: 35%;
    border-radius: 8px;
    padding: 20px;
}

.div-info-perfil h2{
    font-size: 45px;
    font-weight: bold;
    color: var(--green-blue);
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 10px;
}

.personal-info {
    position: relative;
    width: 80%;
    margin: auto;
    background-color: var(--light-gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 10px 20px 30px;
}

.div-estatistica h2{
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.estatistica {
    width: 80%;
    margin: auto;
    background-color: var(--light-gray);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.estatistica-botoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    margin-bottom: 10px;
}

.selects-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
}

.estatistica .select-game {
    width: 50%;
    margin: 0px;
    background-color: var(--orange);
    border-radius: 30px;
    height: 40px;
    color: var(--light-gray);
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
    border: 0;
}

.estatistica-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.estatistica-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
}

.estatistica-item .title {
    font-size: 25px;
    color: var(--orange);
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}

.estatistica-item .content {
    font-size: 40px;
    color: var(--black);
    margin-top: -5px;
}

.personal-info .title {
    font-size: 20px;
    font-weight: bold;
    color: var(--orange);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;   
}

.personal-info .content {
    font-size: 18px;
    color: var(--black);
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
}

.div-tabela {
    width: 65%;
    flex-basis: 65%;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    scrollbar-color: var(--orange) var(--light-gray); 
    scrollbar-width: thin;
}

.div-tabela::-webkit-scrollbar {
    width: 10px;
}

.div-tabela::-webkit-scrollbar-track {
    background-color: var(--dark-red);
}

.div-tabela::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 5px;
}

.table-perfil {
    width: 100%;
    margin: 10px auto;
    background-color: var(--light-gray);
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-collapse: separate;
    border-spacing: 0 5px;
    padding: 10px;
}

.table-perfil thead {
    display: table; 
    width: 100%;
    table-layout: fixed;
    background-color: var(--light-gray);
    color: var(--black);
    border-radius: 8px 8px 0 0;
    margin-top: 0px;
}

.table-perfil th {
    font-weight: bold;
}

.table-perfil tbody {
    display: block;
    max-height: 65vh; 
    overflow-y: auto;
}

.table-perfil tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 2px 0;
    border-radius: 5px;
}

.table-perfil td {
    padding: 7px;
    text-align: center;
    font-size: 12px;
    color: var(--light-gray);
}

.table-perfil .tr-border-left {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 30px;
    max-width: 30px;
    text-align: center;
}

.table-perfil .tr-border-right {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.resultado-vitoria {
    background-color: var(--green-victory);
}

.resultado-derrota {
    background-color: var(--red-defeat);
}

.edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    color: var(--orange);
}

.personal-info .title,
.personal-info .content {
    width: 100%;
}

#edit-nome, #edit-email, #edit-senha, #edit-telefone {
    margin-bottom: 5px;
    width: 80%;
    height: 25px;
    padding-left: 10px;
}

#cancel-button, #save-button {
    height: 30px;
    line-height: 0px;
    margin-top: 10px;  
    margin: 4px;
}

.input-box {    
    margin-bottom: 10px !important;
}

.standart-form-buttons {
    width: 150px !important;
}